.post {
    display: block;
    padding: 10px;
    align-items: flex-start;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}
.post_content {
    display: flex;
    margin: 0 0 5px 0;
}

.post_actions {
    display: flex;
    justify-content: space-between;
}

.post_ava {
    border-radius: 50%;
    width: 50px;
    margin: auto 20px 0 0;
}

.post_text {
    display: block;
}

.post_dislike {
    margin: 0 auto 0 5px;
}