.appWrapper {
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 110px 1fr;
    grid-gap: 5px;
    margin: 10px;
}

.appWrapperContent {
    grid-area: c;
    background-color: beige;
    padding: 10px;
}

